<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="fr.ema.examples.has.config.AdjustableLamp"
		id="lampDesk" />
	<bean class="fr.ema.examples.has.config.AdjustableLamp"
		id="lampSitting" />
	
	<bean class="fr.ema.examples.has.config.Clock" id="clock1" />
	
	<bean class="fr.ema.examples.has.config.Orchestrator"
		id="orchestrator1">
		<property name="lights">
			<set>
				<ref bean="lampDesk" />
				<ref bean="lampSitting" />
			</set>
		</property>
		<property name="clock" ref="clock1" />
	</bean>

</beans>